.snap-ui-datepicker-wrapper {
  .react-datepicker-popper {
    border: 1px solid var(--sui-colors-gray-90);
    border-radius: 6px;
  }

  .react-datepicker__triangle {
    display: none;
  }

  .react-datepicker__current-month {
    margin-bottom: 1rem;
  }

  .react-datepicker {
    border: 0 !important;
    font-family: inherit;
  }

  .react-datepicker__header {
    border: 0;
    background-color: white;
  }

  .react-datepicker__day-name {
    font-size: 0.75rem;
    color: #718096;
    width: 32px;
  }

  .react-datepicker__day--selected {
    border-radius: 50% !important;
    background-color: var(--sui-colors-action-background) !important;
    color: white !important;
    font-weight: 400;
  }

  .react-datepicker__current-month {
    font-weight: bold;
    margin: 0;
  }

  .react-datepicker__day {
    width: 32px;
    height: 32px;
    font-size: 0.875rem;
    border-radius: 50%;
    line-height: 32px;
    &:hover {
      background-color: var(--sui-colors-gray-95);
    }
  }

  .react-datepicker__month {
    margin: 0;
  }

  .react-datepicker__header--custom {
    padding-bottom: 0.25rem;

    button {
      border: 0;
      background-color: transparent;
      cursor: pointer;
    }
  }

  .react-datepicker__day--outside-month {
    opacity: 0;
    pointer-events: none;
  }
}
