@import "../styles/_primitives-variables.css";
@import "../styles/_theme-variables.css";
@import "../styles/_deprecated-variables.css";

@font-face {
  font-family: "Magno Sans";
  font-style: normal;
  /* Extrabold is typically a font-weight of 800 */
  font-weight: 800;
  /* Very important for performance! Prevents text from being invisible while the font loads. */
  font-display: swap;
  /* Src starts with woff2 for modern browsers, then falls back to woff */
  src:
    url("../fonts/MagnoSans-Extrabold.woff2") format("woff2"),
    url("../fonts/MagnoSans-Extrabold.woff") format("woff");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Urbanist", sans-serif;
  font-size: 16px;
  color: var(--color-neutral-text, #1a1a1a);
}

.material-symbols-rounded {
  font-family: "Material Symbols Rounded";
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
}

@layer utilities {
  .sui-hide-scrollbar::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  .sui-hide-scrollbar {
    scrollbar-width: none; /* Firefox */
  }
}
